/WindowsFormsApp1/bin
concrt140.dll
cublas64_90.dll
cudart64_90.dll
cufft64_90.dll
cvextern.dll
cvextern.lib
msvcp140.dll
opencv_cudafilters330.dll
opencv_cudaarithm330.dll
nppif64_90.dll
opencv_cudawarping330.dll
opencv_cudaimgproc330.dll
opencv_cudaoptflow330.dll
opencv_cudafeatures2d330.dll
nppig64_90.dll
nppist64_90.dll
opencv_cudastereo330.dll
opencv_core330.dll
opencv_cudalegacy330.dll
nppial64_90.dll
opencv_viz330.dll
nppis64_90.dll
nppim64_90.dll
*.dll
/.vs
